<div class="text-center wrapper" id="startchange">
  <img src="/assets/home.jpg" alt="Home" width="100%" style="display: inline-block" class="img">
</div>
<h1>Edit New Vlogs</h1>

<%= render "form" %>
