<div class="text-center wrapper" id="startchange">
  <img src="/assets/vlog2_crop.jpg" alt="Home" width="100%" style="display: inline-block" class="img">
</div>
<div class="col-md-10 center-block">
<h1>Create New Vlog</h1>

<%= render "form" %>
</div>
