<div class="text-center wrapper" id="startchange">
  <img src="assets/home_crop.jpg" alt="Home" width="100%" style="float: none" class="img">
</div>
<section id="about">
  <div class="col-md-10 center-block padding">
    <h1 class="text-center">Our Desire to Create a Community</h1>
    <h2 class="text-center">We would like to paint of a picture of what a "Korean-Canadian" would theoretically look like in comparison to our mother cultures.</h2>
    <br>
    <hr class="hr fPin text-center">
  </div>
</section>
<section id="mission" style="background-color: rgba(0,0,0,0.8);">
  <div class="padding col-xs-10 center-block">
    <div>
      <h2 class="fWhite">Why Did We Start?</h2>
        <p class="fWhite">
        The issues associated with being bicultural are often neglected, however, we believe that it is best to regard them with the relevance they deserve. After all, our cultural identity helps shape who we are as people. For these reasons, ‘Modni’ strives to remedy this disconnect that not only many young Korean-Canadians feel, but those from other cultures as well.
        </p>
      <h2 class="fWhite">Our Mission: </h2>
        <p class="fWhite">
          Using Korean traditional drumming as a foundation, our members will be able to organically and intuitively discover the rich aspects of Korean traditional drumming, and incorporate these traditional elements into their own musical style. We want to promote a natural blending of cultures, to really let Korean-Canadians be Korean-Canadians.

          Not a Korean who “thinks like a Canadian,” not a Canada-born Korean who is “so Asian,” but simply, Korean-Canadian. This is a chance for them to define their own cultural identities and therefore, we hope, their full identities.
        </p>
      <h2 class="fWhite">What Makes Us Different?: </h2>
        <p class="fWhite">
          The issues associated with being bicultural are often neglected, however, we believe that it is best to regard them with the relevance they deserve. After all, our cultural identity helps shape who we are as people. For these reasons, ‘Modni’ strives to remedy this disconnect that not only many young Korean-Canadians feel, but those from other cultures as well.
        </p>
      <h2 class="fWhite">Why Choose Us?: </h2>
        <p class="fWhite">
          We offer a type of performance that may not be seen anywhere else. We also take pride in proper conduct as performers and guests to any venue we go to.
        </p>
        <br>
        <h3 class="text-center fWhite" style="margin-top: 50px">Want To Check Our Members?</h3>
        <div class="text-center">
          <br>
          <a class="btn btn-lg btn-default button" href="<%= member_path %>">Click Here !</a>
          <br>
          <br>
        </div>
    </div>
  <br>
  </div>
</section>
<section id="hi">
  <div class="padding" style="background-color: rgba(239,56,53,0.9); width: 100%">
    <h1 class="text-center fWhite" style="margin-top: 30px;">Interested in getting involved?</h1>
    <h3 class="text-center fWhite">Feel free to contact us for more information.</h3>
    <div class="text-center">
      <br>
      <a class="btn btn-lg btn-default button" href="http://fvkas.com/contact-us/" target="_blank">Write an Application Now</a>
      <br>
      <br>
    </div>
  </div>
</section>
<br>
<section id="donate">
  <div class="col-md-10 center-block margBot padding">
    <h2 class="text-center" style="font-weight: 900">Want to Support our Team?</h2>
    <h3 class="text-center" >Please donate to Modni</h3>
    <div class="text-center">
        <br>
        <a class="btn btn-lg btn-danger button" href="http://fvkas.com/get-involved/" target="_blank">Thank you</a>
        <br>
        <br>
    </div>
  </div>
</section>
