<div class="text-center wrapper" id="startchange">
  <img src="/assets/home.jpg" alt="Home" width="100%" style="display: inline-block" class="img">
</div>
<section class="col-md-12 center-block" id="event">
<div class="col-md-10 center-block">
  <h1 style="font-weight: 800; font-size: 50px"><%= @event.title %></h1>
  <h2 style="font-weight: 600; color: red; opacity: 0.8; font-size: 20px"><%= @event.event_date %></h2>
</div>
  <% if @event.image.present? %>
  <div>
    <%= image_tag(@event.image.url(:large), :class=> "event_image") %>
  </div>
  <% end %>
<div class="col-md-10 center-block">
  <p style="font-weight: 600; display: inline-block"><%= @event.body %></p>



  <div style="clear: left">
  <h2>Submit Comments</h2>

    <%#= render "/comments/form" %>

  <h2>Comments</h2>
        <!-- <%#= render @q.answers %>
        <div id="comments">
        <%# @post.comments.each do |comment| %>
        <%# this will render _answer.html.erb inside views/answers folder %>
        <%#= render "/comments/comment", comment: comment %>
        <%# end %>
      </div> -->
  </div>
</div>
<section>
