// Place all the styles related to the vlogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.embed-container {
  position: relative;
  padding-bottom: 39.375%;
  padding-top: 21px;
  height: 0;
  overflow: hidden;
  width: 70%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container-thumb {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.right{
  width: 29%
}

#vlog-skip i{
  color: black;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
#vlog-skip i:hover {
  color: rgba(239, 56, 53, 0.9);
}

.cover-left{
  float: left;
  width: 20%;
}
.cover-right{
  float: right;
  width: 65%;
}
